{% extends 'main/master.html' %}

{% block page_title %}
About page
{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="/static/categories/css/index.css">
    <div class="page__content">
        <h1 class="page__title">
            Каталог
        </h1>
        <div class="category-list">
        </div>
    </div>
    <script>
        const renderCategory = ({id, name}) => (
            `
            <div>
                <span>${ name }</span>
                <a href="/categories/${ id }/">Перейти</a>
            </div>
            `
        )

        container = document.querySelector('.category-list')

        fetch('http://localhost:8000/categories/api/list/')
            .then(response => response.json())
            .then(data => {
                data.results.map(
                    itm => container.innerHTML += renderCategory({id:itm.fields.name, name:itm.fields.name})
                )
            })
    </script>
{% endblock %}