{% extends 'main/master.html' %}

{% block page_title %}
About page
{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="/static/products/css/detail.css">
    <div class="page__content">
        <div class="product">
            <h1 class="product__name">{{ object.name }}</h1>
            <span class="product__description">{{ object.description }}</span>
            <span class="product__cost">{{ object.cost }}</span>
        </div>
    </div>
{% endblock %}
