<ul class="pagination">
    {% if page.has_previous %}
    <li class="pagination_link_prev">
        <a href="?page={{ page.previous_page_number }}">Назад</a>
    </li>
    {% endif %}
    {% for number in page_range %}
    <li class="pagination_link_prev">
        <a href="?page={{ number }}">{{ number }}</a>
    </li>
    {% endfor %}
    {% if page.has_next %}
    <li class="pagination_link_next">
        <a href="?page={{ page.next_page_number }}">Далее</a>
    </li>
    {% endif %}
</ul>