{% load static %}

<link rel="stylesheet" href="{% static 'products/css/picture.css' %}">

<div class="image-wrapper">
    {% if image %}
    <img src="{{ image.url }}" alt="" class="image">
    {% endif %}
</div>
