<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/main/css/index.css" />
    </head>

    <body>
        <div class="page">
            <header class="page__header">
                <nav class="page__navigation">
                    <ul class="navigation-list">
                        <li class="navigation-list__item">
                            <span class="navigation-list__item-text">
                                Главная
                            </span>
                            <a href="{% url 'main:index' %}" class="navigation-list__item-link">
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <span class="navigation-list__item-text">
                                Продукты
                            </span>
                            <a href="{% url 'products:index' %}" class="navigation-list__item-link">
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <span class="navigation-list__item-text">
                                О проекте
                            </span>
                            <a href="/about/" class="navigation-list__item-link">
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <span class="navigation-list__item-text">
                                Контакты
                            </span>
                            <a href="/contacts/" class="navigation-list__item-link">
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

            <h3 class="user-name">
                <span>
                    {{ request.user }}
                </span>
            </h3>

            {% block page_content %}
            {% endblock %}

            <footer class="page__footer">
                <span class="page__copyright">
                    © GeekBrains
                </span>
            </footer>
        </div>
    </body>
</html>